
<body>
    <!-- ... action="PrintBMI.jsp" method="post" onsubmit="calculateBMI()" ... left out for now from <form> below -->
    <div id = "mainDisplay">
        <form name ="bmiForm" id = "form" action = "index.html">
           
               <h1>BMI Calculator</h1>
                <h3>Enter your weight</h3>
                Stone <input type = "text" name = "stone" size = "1" maxlength = "2" />
                Pounds <input type = "text" name = "pounds" size = "2" maxlength = "6" />
                <strong>OR</strong>            
                KGs <input type = "text" name = "kgs" size = "2" maxlength = "6" />
                <br />
                <h3>Enter your height</h3>
                Feet <input type = "text" name = "feet" size = "1" maxlength = "1" />
                Inches <input type = "text" name = "inches" size = "1" maxlength = "4" />
                <strong>OR</strong>
                Metres <input type = "text" name = "Metres" size = "2" maxlength = "6" />
                <p></p><input id = "button" type="button" value = "Calculate BMI" />
                <br />
            
        </form>
    </div>
</body>
